<section style="height: 700px; width: 100%;" id="home">
  <p style="margin: 0;">home</p>
  </section>
  
  <section style="height: 700px; width: 100%;" id="features">
    <p style="margin: 0;">features</p>
  </section>
  
  <section style="height: 700px; width: 100%;" id="solutions">
    <p style="margin: 0;">solutions</p>
  </section>
  <!-- <section style="height: 700px; width: 100%;" id="process">
    <p style="margin: 0;">test</p>
  </section> -->
  <section style="height: 700px; width: 100%;" id="pricing">
    <p style="margin: 0;">pricing</p>
  </section>
  <section style="height: 700px; width: 100%;" id="blogs">
    <p style="margin: 0;">blogs</p>
  </section>