<section style=" width: 100%;" id="home">
  <div fxLayout.gt-xs="row" ngClass.xs="homeDashBox__mobile"  class="homeDashBox">
    <div fxFlex.gt-xs="60 "  ngClass.sm="homeDashBox-text__tablet" ngClass.xs="homeDashBox-text__mobile" ngClass.gt-xs="homeDashBox-text">
      <p class="subtitle">We're are here for you, always</p>
      <h1 class="title">
        We Offer You <span>A <br/> Digital</span> Platform<span> .</span>
      </h1>
      <p class="subheading">
        Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Nisl purus in mollis nunc sed id sempe egestas quis ips.
      </p>
      <button>Hire us</button>
    </div>
    <div fxFlex.gt-xs="40" fxShow.sm="true" ngClass.gt-sm="homeDashBox-image__tablet"  ngClass.xs="homeDashBox-image__mobile" ngClass.gt-xs="homeDashBox-image">
      <img ngStyle.gt-xs="width: 450px" ngStyle.sm="width: 350px" ngStyle.xs="width: 250px" src="../../../assets/Business solution-pana.svg" />
    </div>
  </div>
</section>
















  
  <!-- <section style="height: 700px; width: 100%;" id="features">
    <p style="margin: 0;">features</p>
  </section>
  
  <section style="height: 700px; width: 100%;" id="solutions">
    <p style="margin: 0;">solutions</p>
  </section>
  <section style="height: 700px; width: 100%;" id="process">
    <p style="margin: 0;">test</p>
  </section>
  <section style="height: 700px; width: 100%;" id="pricing">
    <p style="margin: 0;">pricing</p>
  </section>
  <section style="height: 700px; width: 100%;" id="blogs">
    <p style="margin: 0;">blogs</p>
  </section> -->