<section style=" width: 100%;" id="home">
  <div fxLayout.gt-xs="row" ngClass.xs="homeDashBox__mobile"  class="homeDashBox">
    <div fxFlex.gt-xs="60 "  ngClass.sm="homeDashBox-text__tablet" ngClass.xs="homeDashBox-text__mobile" ngClass.gt-xs="homeDashBox-text">
      <p class="subtitle">We're are here for you, always</p>
      <h1 class="title">
        We Offer You <span>A <br/> Digital</span> Platform<span> .</span>
      </h1>
      <p class="subheading">
        Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Nisl purus in mollis nunc sed id sempe egestas quis ips.
      </p>
      <div>
        <button>Hire us</button>
      </div>
    </div>
    <div fxFlex.gt-xs="40" fxShow.sm="true" ngClass.gt-sm="homeDashBox-image__tablet"  ngClass.xs="homeDashBox-image__mobile" ngClass.gt-xs="homeDashBox-image">
      <img ngStyle.gt-xs="width: 450px" ngStyle.sm="width: 350px" ngStyle.xs="width: 250px" src="../../../assets/Business solution-pana.svg" />
    </div>
  </div>
</section>
















  
  <section style=" width: 100%;" id="features">
    <div fxLayout.gt-xs="row" fxLayout.xs="column" ngStyle.gt-xs="padding-right: 40px; padding-left: 40px;" fxLayoutGap.gt-xs="30px" fxLayoutGap.sm="0px" fxLayoutGap.xs="10px">
      <div ngStyle.gt-xs="align-items: center; padding: 20px;" ngStyle.xs="align-items: center; padding: 20px;" fxLayout="row">
        <i class='bx bxs-rocket animate' ngStyle.xs="font-size: 55px;" style='color:#228be6; font-size: 85px; margin-right: 25px;'  ></i>
        <div>
          <p ngClass.xs="featureTitle__mobile" class="featureTitle">Faster & Accurate</p>
          <p ngClass.xs="featuresubtitle" class="featuresubtitle">Scelerisque viverra mauris in aliquam sem fringilla ut.</p>
        </div>
      </div>
      <div ngStyle.xs="align-items: center; padding: 20px;" ngStyle.gt-xs="align-items: center; padding: 20px;" fxLayout="row">
        <i ngStyle.xs="font-size: 55px;" class='bx bxs-zap animate' style='color:#228be6; font-size: 85px; margin-right: 25px;'></i>
        <div>
          <p ngClass.xs="featureTitle__mobile" class="featureTitle">Performance</p>
          <p ngClass.xs="featuresubtitle"  class="featuresubtitle">Scelerisque viverra mauris in aliquam sem fringilla ut.</p>
        </div>
      </div>

      <div ngStyle.xs="align-items: center; padding: 20px;" ngStyle.xs="align-items: center; padding: 20px;" fxLayout="row">
        <i ngStyle.xs="font-size: 55px;" class='bx bxs-bulb animate' style='color:#228be6; font-size: 85px; margin-right: 25px;'  ></i>
        <div>
          <p ngClass.xs="featureTitle__mobile" class="featureTitle">Innovations</p>
          <p ngClass.xs="featuresubtitle" class="featuresubtitle">Scelerisque viverra mauris in aliquam sem fringilla ut.</p>
        </div>
      </div>
      
    </div>
  </section>
  














  <section style="height: 700px; width: 100%;" id="solutions">

  </section>
  <section style="height: 700px; width: 100%;" id="process">
    <p style="margin: 0;">test</p>
  </section>
  <section style="height: 700px; width: 100%;" id="pricing">
    <p style="margin: 0;">pricing</p>
  </section>
  <section style="height: 700px; width: 100%;" id="blogs">
    <p style="margin: 0;">blogs</p>
  </section>